.input{
	width:inherit;
	display: inline-block;
	margin-bottom: 2rem;
	max-height: 50rem;
}

.input textarea{
	min-height: 10rem;
	max-width: 50rem;
	max-height: 30rem;
	width: 30rem;
	display: block;
}

#show{
	margin-top: 0.5rem;
	display: block;
	clear: right;
	text-align: right;
	float: right;
}

#exportpng{
	font-size: 0.8rem;
	padding-right: 5px;
	max-width: 85%;
    text-align: justify;
    text-justify: inter-word;
}

#save{
	display: block;
	text-align: right;
	float: top;
	margin-bottom: 0px;
	padding: 5px;
	border: 1px solid #aaa;
	-webkit-box-shadow: 0px 0px 2px 1px  #ccc;
    -moz-box-shadow: 0px 0px 2px  1px #ccc;
    box-shadow: 0px 0px 2px  1px #ccc;
 	background: none;
 	border-radius: 0px;


}

#error{
	border: 1px solid;
	display : none;
	margin-bottom:  1rem;
	max-width: 30rem;
	padding: 5px;
	color: #D8000C;
	background-color: #ffd3d3;
}


#output{
	max-width: 75rem;
	min-height: 30rem;
	position: relative;
	padding: 2px;
	padding-left: 0;
}

#cy {
	min-height: 25rem;
	height: 75vh; 
	width: 90%;
	max-width: 75rem;
    position: relative;
    z-index: 999;
    margin: 0.5rem 0.5rem;
    margin-left: 0;
    margin-top: 0;
	border : 1px solid #aaa;
	background-color: #fefefe,
	-webkit-box-shadow: 0px 0px 1px 1px  #ccc inset;
    -moz-box-shadow: 0px 0px 1px  1px #ccc inset;
    box-shadow: 0px 0px 1px  1px #ccc inset;
   	left: 0;
	top: 0;
}
