<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
    <div id="error"></div>
    <div class="input">
    <textarea id="edgelist" name="edgelist"></textarea>
    <button id="show">Draw graph</button>
    </div>
    <div id="output">
        <button id="save">Save as png</button>
        <div id="cy"></div>

    </div>

    <div id="exportpng">Please zoom-in if the resulting image resolution is not good (note that there are some technical limit for the image resolution: (maxWidth, maxHeight) = (3996, 2160) and depending on your browser, there could be a limit on the size of the image. You could always try to move the vertex closer.</div>

  </div>

{% include scripts.html %}
</body>
</html>
